@import '../styles/variables';

:host { display: flex; min-height: 100vh; flex-direction: column; }
.app-container { display: flex; min-height: 100vh; flex-direction: column; }
.main-content { flex: 1 0 auto; width: 100%; }
app-footer { flex-shrink: 0; width: 100%; }
